<div class="bg-success py-3 top-bar shadow d-none d-md-block">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-md-left pl-0">
          <h1>akki</h1>
          <a href="#" class=" pr-4 pl-0 text-light" >Home</a>
          <a href="#" class="p-3 text-light">Events</a>
          <a href="#" class="p-3 text-light">Become A Volunteer</a>
          <a href="#" class="p-3 text-light">email</a>
          <a href="#" class="p-3 text-light">contact</a>
        </div>
        <div class="col-md-6 text-md-right">
          <div class="ml-auto"><a href="#" class="btn btn-primary"><h3>Donate Now</h3></a></div>
          <a href="#" class="p-3 "><span class="icon-facebook"></span></a>
        </div>
      </div>
    </div>
  </div>